# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints*
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*.ipynb.json
*/.ipynb_checkpoints/
~*.ipynb
*.ipynb.py
*.ipynb_checkpoints/
*.pkl
*.pickle

# JupyterLab
.jupyter/
jupyter_config.json
jupyter_notebook_config.json
jupyter_notebook_config.py
jupyterlab-workspace.json

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/
.idea/
out/
